In [ ]:
#Name: Vedant Lokhande
#PRN: 22070521160

In [2]:
import pandas as pd

In [3]:
#Input Data

In [4]:
data = {
    'ID': [1,2,3,4,5,6],
    'Name': ['Arjun', 'Sonam', 'Raju', 'Tushar', 'Akshay', 'Rishil'],
    'Age': [25, 30, 35, 40, 22, 29],
    'Country': ['Maharashtra', 'UP', 'Gujrat', 'Rajasthan', 'Kerela', 'Punjab'],
    'Sales': [200, 450, 300, 800, 150, 400]
}

In [6]:
#Create Dataframe
df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
   ID    Name  Age      Country  Sales
0   1   Arjun   25  Maharashtra    200
1   2   Sonam   30           UP    450
2   3    Raju   35       Gujrat    300
3   4  Tushar   40    Rajasthan    800
4   5  Akshay   22       Kerela    150
5   6  Rishil   29       Punjab    400

In [7]:
#Data Flow Transformations

In [8]:
#Character Map
#Description: Transform text data by changing the case of characters.
# Here, we will convert the name column to uppercase

In [9]:
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names):")
print(df[['ID', 'Name', 'Name_Upper']])

Character Map (Uppercase Names):
   ID    Name Name_Upper
0   1   Arjun      ARJUN
1   2   Sonam      SONAM
2   3    Raju       RAJU
3   4  Tushar     TUSHAR
4   5  Akshay     AKSHAY
5   6  Rishil     RISHIL

In [10]:
# Multicast: Create two copies of the dataset
df_copy1 = df.copy()
df_copy2 = df.copy()

#Transformations on each copy
df_copy1['Sales'] *= 1.1 #Increase sales by 10%
df_copy2['Age'] += 5 #Increase age by 5 years

print("\nMulticast (Modified Copies:")
print("Copy 1 (Sales Increased):")
print(df_copy1)
print("\nCopy2 (Age Increased):")
print(df_copy2)

Multicast (Modified Copies:
Copy 1 (Sales Increased):
   ID    Name  Age      Country  Sales Name_Upper
0   1   Arjun   25  Maharashtra  220.0      ARJUN
1   2   Sonam   30           UP  495.0      SONAM
2   3    Raju   35       Gujrat  330.0       RAJU
3   4  Tushar   40    Rajasthan  880.0     TUSHAR
4   5  Akshay   22       Kerela  165.0     AKSHAY
5   6  Rishil   29       Punjab  440.0     RISHIL

Copy2 (Age Increased):
   ID    Name  Age      Country  Sales Name_Upper
0   1   Arjun   30  Maharashtra    200      ARJUN
1   2   Sonam   35           UP    450      SONAM
2   3    Raju   40       Gujrat    300       RAJU
3   4  Tushar   45    Rajasthan    800     TUSHAR
4   5  Akshay   27       Kerela    150     AKSHAY
5   6  Rishil   34       Punjab    400     RISHIL

In [11]:
# Conditional Split
#Description: Split data based on a condition

In [12]:
#Conditional Split: Sales > 300
high_sales = df[df['Sales']>300]
low_sales = df[df['Sales']<=300]
print("\nConditional Split:")
print("High Sales:")
print(high_sales)
print("Low Sales:")
print(low_sales)

Conditional Split:
High Sales:
   ID    Name  Age    Country  Sales Name_Upper
1   2   Sonam   30         UP    450      SONAM
3   4  Tushar   40  Rajasthan    800     TUSHAR
5   6  Rishil   29     Punjab    400     RISHIL
Low Sales:
   ID    Name  Age      Country  Sales Name_Upper
0   1   Arjun   25  Maharashtra    200      ARJUN
2   3    Raju   35       Gujrat    300       RAJU
4   5  Akshay   22       Kerela    150     AKSHAY

In [13]:
#Aggregation
#Description: Aggregate data, e.g., cakculate total sales by country.
# Aggregation : Total sales by Country
agg_df = df.groupby('Country')['Sales'].sum().reset_index()
print("\nAggregation (Total Sales by Country):")
print(agg_df)

Aggregation (Total Sales by Country):
       Country  Sales
0       Gujrat    300
1       Kerela    150
2  Maharashtra    200
3       Punjab    400
4    Rajasthan    800
5           UP    450

In [14]:
#sort
#Description: Sort the dataset by Sales in descending order.
#Sort: Sort by Sales in descending order
sorted_df = df.sort_values(by='Sales', ascending = False)
print("\n Sort (Descending Sales):")
print(sorted_df)

 Sort (Descending Sales):
   ID    Name  Age      Country  Sales Name_Upper
3   4  Tushar   40    Rajasthan    800     TUSHAR
1   2   Sonam   30           UP    450      SONAM
5   6  Rishil   29       Punjab    400     RISHIL
2   3    Raju   35       Gujrat    300       RAJU
0   1   Arjun   25  Maharashtra    200      ARJUN
4   5  Akshay   22       Kerela    150     AKSHAY

In [15]:
#Derived Column
#Description: Create a new column by deriving information from existing data.

In [16]:
#Derived Column: Categorize sales as 'High' or 'Low'
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x > 300 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID', 'Name', 'Sales', 'Sales_Category']])

Derived Column (Sales Category):
   ID    Name  Sales Sales_Category
0   1   Arjun    200            Low
1   2   Sonam    450           High
2   3    Raju    300            Low
3   4  Tushar    800           High
4   5  Akshay    150            Low
5   6  Rishil    400           High